fastapi
uvicorn[standard]
google-generativeai
groq
openai
tavily-python
python-multipart
pypdf
pillow
python-dotenv
pandas
matplotlib
requests
supabase
firebase-admin
google-auth
razorpay
reportlab
python-docx
python-pptx
edge-tts
pydub
openpyxl
aiohttp
